SERVER_PORT=8086
DB_HOST=localhost
DB_PORT=3306
DB_NAME=convergente_dau_dssm_db
DB_USER=convergente_dau_user
DB_PASS=ConvergenteDau2026*
JWT_SECRET=CAMBIAR_ESTE_SECRETO_DE_AL_MENOS_64_CARACTERES_EN_PRODUCCION_2026
DAU_API_KEY_HCM=CAMBIAR_API_KEY_HCM
CORS_ALLOWED_ORIGINS=http://localhost:4200
